################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EchoIO/EchoIO/Secrets.cs
/EchoIO/SpotifyAPIWrapper/Secrets.cs
